techs:
    biofuel_supply:
        essentials:
            name: Biofuel supply stream
            parent: supply_plus
            carrier: biofuel
        constraints:
            lifetime: 1  # arbritrarily chosen to avoid Calliope errors
        costs.monetary:
            om_prod: {{ biofuel_cost * scaling_factors.specific_costs }} # {{ (1 / scaling_factors.specific_costs) | unit("EUR/MWh") }}

locations:
    {% for id, location in locations.iterrows() %}
    {{ id }}.techs.biofuel_supply:
    {% endfor %}

group_constraints:
    {% for id, location in locations.iterrows() %}
    biofuel_max_prod_{{ id }}:
        locs: [{{ id }}]
        techs: [biofuel_supply]
        carrier_prod_max:
            biofuel: {{ location.biofuel_potential_mwh_per_year * scaling_factors.power }} # {{ (1 / scaling_factors.power) | unit("MWh") }}
    {% endfor %}

overrides:
    biofuel_flow_limits:
        locations:
            {% for id, location in locations.iterrows() %}
            {{ id }}.techs.biofuel_supply:
                constraints:
                    resource: {{ location.biofuel_potential_mwh_per_year / 8760 * scaling_factors.power }} # {{ (1 / scaling_factors.power) | unit("MW") }}
                    storage_cap_equals: {{ location.biofuel_potential_mwh_per_year / 2 * scaling_factors.power }} # {{ (1 / scaling_factors.power) | unit("MWh") }} (0.5x annual yield) # ASSUME < 1 for numerical range
            {% endfor %}
