# There is ambiguity in the costs and operating characteristics for nuclear power plants in the literature.
# The values we use here are based on averaging data from [Wealer:2019,IEA:2020,Barkatullah:2017].
# Another available source not used here is [BEIS:2016]. It has similar values,
# but tends towards being more optimistic in some areas (longer technology lifetime, higher average capacity factor, lower O&M costs)
# and less optimistic in others (higher investment and annual O&M cost range)
techs:
  nuclear:
    name: Nuclear power
    inherit: interest_rate
    carrier_out: electricity
    base_tech: supply
    flow_out_eff: 0.4
    lifetime: 50  # average of 40 [Wealer:2019] and 60 [IEA:2020]
    flow_out_min_relative: 0.8  # average of 0.75 [Wealer:2019] and 0.85 [IEA:2020]
    cost_flow_cap:
      data: {{ 3672000 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW") }}
      index: monetary
      dims: costs
    cost_om_annual:
      data: {{ 76116 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW/year") }}
      index: monetary
      dims: costs
    cost_flow_out:
      data:  {{ 10 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MWh") }} | ASSUME: fuel costs given by [IEA:2020,Barkatullah:2017] are per MWh electricity produced, not MWh available energy in the input fuel.
      index: monetary
      dims: costs

nodes:
  {% for id, location in locations.iterrows() %}
  {{ id }}.techs.nuclear:
  {% for sense in ["min", "max", "equals"] %}
    {% if "installed_capacity_nuclear_" + sense + "_MW" in location %}
    {% if sense == "equals" %}
    flow_cap_min: {{ location["installed_capacity_nuclear_" + sense + "_MW"] * scaling_factors.power }} # {{ (1 / scaling_factors.power) | unit("MW") }}
    flow_cap_max: {{ location["installed_capacity_nuclear_" + sense + "_MW"] * scaling_factors.power }} # {{ (1 / scaling_factors.power) | unit("MW") }}
    {% else %}
    flow_cap_{{ sense }}: {{ location["installed_capacity_nuclear_" + sense + "_MW"] * scaling_factors.power }} # {{ (1 / scaling_factors.power) | unit("MW") }}
    {% endif %}
    {% endif %}
  {% endfor %}
  {% endfor %}
