tech_groups:
    heat_storage_small:  # [@DEA:2019] - energy storage - 142 small scale hot water tank - 2050
        essentials:
            name: Small hot water tank
            parent: storage
        constraints:
            energy_cap_per_storage_cap_max: 6.67  # 20kW/3kWh
            storage_loss: 0.021  # fraction / hour
            lifetime: 30
        costs:
            monetary:
                # Source also gives om_prod and purchase costs, but the former is in terms of storage cap
                storage_cap: {{ 0.41e6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MWh_heat") }}

techs:
    hp_heat_storage_small:
        essentials.parent: heat_storage_small
        essentials.carrier: hp_heat
    electric_heater_heat_storage_small:
        essentials.parent: heat_storage_small
        essentials.carrier: electric_heater_heat
    biofuel_heat_storage_small:
        essentials.parent: heat_storage_small
        essentials.carrier: biofuel_heat
    methane_heat_storage_small:
        essentials.parent: heat_storage_small
        essentials.carrier: methane_heat

locations:
    {% for id, location in locations.iterrows() %}
    {{ id }}.techs:
        hp_heat_storage_small:
        electric_heater_heat_storage_small:
        biofuel_heat_storage_small:
        methane_heat_storage_small:
    {% endfor %}
