# Model parts
model/electricity-demand.csv
model/locations.yaml
model/capacityfactors-open-field-pv.csv
model/capacityfactors-rooftop-pv.csv
model/capacityfactors-wind-onshore.csv
model/capacityfactors-wind-offshore.csv
model/model.done
model/test-report.html

# Python
*.pyc
build/
dist/
__pycache__
*.egg-info
.cache/
.pytest_cache
src/data

# Snakemake
.snakemake/
dag.pdf
