# For descriptions of the configuration values, see `./schema.yaml`.
data-sources:
    biofuel-potentials-and-costs: https://cidportal.jrc.ec.europa.eu/ftp/jrc-opendata/ENSPRESO/ENSPRESO_BIOMASS.xlsx
    eez: https://geo.vliz.be/geoserver/MarineRegions/wfs?service=WFS&version=1.0.0&request=GetFeature&typeNames=MarineRegions:eez&outputFormat=SHAPE-ZIP
    hydro-generation: https://zenodo.org/record/5797549/files/hydro-generation.csv?download=1
    national-phs-storage-capacities: https://zenodo.org/record/5797549/files/pumped-hydro-storage-capacities-gwh.csv?download=1
    capacity-factors: https://zenodo.org/record/3899687/files/{filename}?download=1
    gadm: https://biogeo.ucdavis.edu/data/gadm3.6/gpkg/gadm36_{country_code}_gpkg.zip
    hydro-basins: https://www.dropbox.com/sh/hmpwobbz9qixxpe/AADeU9iCgMd3ZO1KgrFmfWu6a/HydroBASINS/standard/eu/hybas_eu_lev07_v1c.zip?dl=1
    hydro-stations: https://zenodo.org/record/5119541/files/energy-modelling-toolkit/hydro-power-database-v09.zip?download=1
    load: https://data.open-power-system-data.org/time_series/2019-06-05/time_series_60min_stacked.csv
    nuts: https://ec.europa.eu/eurostat/cache/GISCO/geodatafiles/NUTS_2013_01M_SH.zip
    potentials: https://zenodo.org/record/5112963/files/possibility-for-electricity-autarky.zip
    entsoe-tyndp: https://2020.entsos-tyndp-scenarios.eu/wp-content/uploads/2020/06/TYNDP-2020-Scenario-Datafile.xlsx.zip
    jrc-ppdb: https://zenodo.org/record/3574566/files/JRC-PPDB-OPEN.ver1.0.zip
root-directory: .
cluster-sync:
    url: euler.ethz.ch
    send-ignore: .syncignore-send
    receive-ignore: .syncignore-receive
    cluster-base-dir: ~/Develop/euro-calliope/
    local-results-dir: build/cluster
scaling-factors: # values are tuned for models with a few hours resolution and one year duration
    power: 0.00001 # from MW(h) to 100 GW(h)
    area: 0.0001 # from km2 to 10,000 km2
    monetary: 0.000000001 # from EUR to 1 billion EUR
capacity-factors:
    min: 0.001
    max: 10 # 0.001 -> 10 leads to a numerical range of 1e5 (hourly resolution)
    average:
        pv: 0.139 # median of average 2016 open-field factors for ~2700 points in Europe
        onshore: 0.3021 # median of average 2016 factors for ~2700 points in Europe
        offshore: 0.4223 # median of average 2016 factors for ~2800 points in Europe
        ror: 0.536781 # median of average 2016 factors for 1889 hydro stations in Europe
    trim-ninja-timeseries: True
crs: "EPSG:4326"
parameters:
    maximum-installable-power-density:
        pv-on-tilted-roofs: 160 # from [@Gagnon:2016][@Klauser:2016], i.e. 16% efficiency
        pv-on-flat-areas: 80 # from [@Gagnon:2016][@Klauser:2016][@Wirth:2017]
        onshore-wind: 8 # from [@EuropeanEnvironmentAgency:2009]
        offshore-wind: 15 # from [@EuropeanEnvironmentAgency:2009]
    roof-share: # from [@Trondle:2019]
        E: 0.1660
        N: 0.1817
        S: 0.1821
        W: 0.1681
        flat: 0.3020
    jrc-biofuel: # from [@Ruiz:2019]
        scenario: medium
        potential-year: 2020
        cost-year: 2020
        feedstocks: # ASSUME no energy crop feedstocks available.
            bioethanol-sugar-beet:
                include: false
                id: MINBIOCRP21
                proxy: farmland
            rapeseeds:
                include: false
                id: MINBIORPS1
                proxy: farmland
            oil-crops:
                include: false
                id: MINBIOLIQ1
                proxy: farmland
            starchy-crops:
                include: false
                id: MINBIOCRP11
                proxy: farmland
            grassy-crops:
                include: false
                id: MINBIOCRP31
                proxy: farmland
            willow:
                include: false
                id: MINBIOCRP41
                proxy: forest
            poplar:
                include: false
                id: MINBIOCRP41a
                proxy: forest
            manure:
                include: true
                id: MINBIOGAS1
                proxy: farmland
            primary-agricultural-residues:
                include: true
                id: MINBIOAGRW1
                proxy: farmland
            roundwood-fuelwood:
                include: true
                id: MINBIOWOO
                proxy: forest
            roundwood-chips:
                include: true
                id: MINBIOWOOa
                proxy: forest
            forestry-energy-residues:
                include: true
                id: MINBIOFRSR1
                proxy: forest
            secondary-forestry-residues-woodchips:
                include: true
                id: MINBIOWOOW1
                proxy: forest
            secondary-forestry-residues-sawdust:
                include: true
                id: MINBIOWOOW1a
                proxy: forest
            landscape-care-residues:
                include: true
                id: MINBIOFRSR1a
                proxy: forest
            municipal-waste:
                include: true
                id: MINBIOMUN1
                proxy: population
            sludge:
                include: true
                id: MINBIOSLU1
                proxy: population
    biofuel-efficiency: 0.45
    wind-and-solar-potential-scenario: technical-potential
    entsoe-tyndp:
        scenario: National Trends
        grid: Reference
        projection-year: 2040
        ntc_limit: max
        energy_cap_limit: equals
    nuclear:
        scenario: "2050"
        national_capacities:
            "2030":
                Bulgaria: {min: 2000, max: 2000}  # https://cnpp.iaea.org/countryprofiles/Bulgaria/Bulgaria.htm
                Czech Republic: {min: 3373, max: 5873}  # https://cnpp.iaea.org/countryprofiles/CzechRepublic/CzechRepublic.htm, According to the State Energy Policy of the Czech Republic (see www.mpo.cz/dokument155315.html), the primary objectives include: (1) supporting and accelerating the process of negotiating, preparing and implementing new nuclear units at existing NPP sites with a total output of up to 2500 MW or annual production of approximately 20 TWh by 2030–2035;
                Spain: {min: 3000, max: 3000}  # https://world-nuclear.org/information-library/country-profiles/countries-o-s/spain.aspx
                Finland: {min: 4352, max: 4960}  # https://tem.fi/documents/1410877/2769658/Government+report+on+the+National+Energy+and+Climate+Strategy+for+2030/0bb2a7be-d3c2-4149-a4c2-78449ceb1976/Government+repo$
                France: {min: 63130, max: 63130}  # https://cnpp.iaea.org/countryprofiles/France/France.htm, today's capacity
                United Kingdom: {min: 4200, max: 4200}  # https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/789655/Nuclear_electricity_in_the_UK.pdf, currently in operation or in construction
                Hungary: {min: 2400, max: 2400}  # https://ec.europa.eu/energy/sites/ener/files/documents/ec_courtesy_translation_hu_necp.pdfm Pursuant to the intergovernmental agreement between Hungary and the Russian Federation, two new nuclear power plant units will be built in Hungary by 2030, each with a capacity of 1200MW (Paks 2).
                Romania: {min: 1975, max: 2650}  # http://www.enpg.ro/wp-content/uploads/2018/12/NECP-Romania-EPG-Analysis.pdf, According to the Energy Strategy 2016-2030, the nuclear power capacity would be 2.65 GW in 2030, based on the operation of four 650 MW CANDU reactors, while the NECP draft envisages for 2030 only 1.975 MW, corresponding to the operation of three reactors.
                Slovakia: {min: 2717, max: 2717}  # https://www.world-nuclear.org/information-library/country-profiles/countries-o-s/slovakia.aspx
            "2050":
                Bulgaria: {min: 0, max: 3200}  # https://www.world-nuclear.org/information-library/country-profiles/countries-a-f/bulgaria.aspx
                Czech Republic: {min: 6230, max: 7860}  # https://ec.europa.eu/energy/sites/ener/files/documents/ec_courtesy_translation_cz_necp_0.pdf, Based on increase in the share of electricity generation coming from nuclear by 2040
                Finland: {min: 0, max: 2750}  # https://tem.fi/documents/1410877/2769658/Government+report+on+the+National+Energy+and+Climate+Strategy+for+2030/0bb2a7be-d3c2-4149-a4c2-78449ceb1976/Government+report+$
                France: {min: 0, max: 51000}  # https://www.rte-france.com/actualites/futurs-energetiques-neutralite-carbone-2050-principaux-enseignements, Depends on which scenario the country takes (page 17, main results).
                United Kingdom: {min: 8900, max: 8900}  # https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/789655/Nuclear_electricity_in_the_UK.pdf
                Hungary: {min: 2400, max: 2400}  # https://ec.europa.eu/energy/sites/ener/files/documents/ec_courtesy_translation_hu_necp.pdf, assuming no new capacity 2030 -> 2050
                Romania: {min: 650, max: 2650}  # http://www.enpg.ro/wp-content/uploads/2018/12/NECP-Romania-EPG-Analysis.pdf, 4 CANDU reactors, 650MW each, with 4th going online in 2031. Depends on when the other 3 go online (i.e. are they decommissioned by 2050?)
                Slovakia: {min: 940, max: 3340}  # https://www.world-nuclear.org/information-library/country-profiles/countries-o-s/slovakia.aspx, Depends on if 2.4 GW of planned capacity is realised.


test:
    scenarios:
        continental:
            default: []
            directional-pv: ["directional-rooftop-pv"]
            e-to-p-ratios: ["exclusive-energy-to-power-ratios"]
            frozen-hydro: ["freeze-hydro-capacities", "no-hydro-fixed-cost"]
            alternative-cost: ["dea-renewable-cost", "schroeder-hydro-cost"]
            shed-load: ["load-shedding"]
        national:
            default: []
            connected_neighbours: ["connect_all_neighbours"]
            connected_entsoe_tyndp: ["connect_entsoe_tyndp"]
            directional-pv: ["directional-rooftop-pv"]
            e-to-p-ratios: ["exclusive-energy-to-power-ratios"]
            frozen-hydro: ["freeze-hydro-capacities", "no-hydro-fixed-cost"]
            alternative-cost: ["dea-renewable-cost", "schroeder-hydro-cost"]
            shed-load: ["load-shedding"]
        regional:
            default: ["connect_all_neighbours", "run_barrier_no_crossover"]
            all-overrides: ["connect_all_neighbours", "directional-rooftop-pv", "exclusive-energy-to-power-ratios",
                            "dea-renewable-cost", "schroeder-hydro-cost", "freeze-hydro-capacities", "load-shedding"]
    overrides:
        continental: {}
        national:
            connect_all_neighbours:
                import:
                    - 'build/models/national/techs/transmission/electricity-linked-neighbours.yaml'
            connect_entsoe_tyndp:
                import:
                    - 'build/models/national/techs/transmission/electricity-entsoe.yaml'
        regional:
            connect_all_neighbours:
                import:
                    - 'build/models/regional/techs/transmission/electricity-linked-neighbours.yaml'
            run_barrier_no_crossover:
                run.solver_options: {Method: 2, Crossover: 0}
    subset_time:
        continental: ['2016-01-01', '2016-01-02']
        national: ['2016-01-01', '2016-01-01']
        regional: ['2016-01-01 00:00', '2016-01-01 04:00']

quality-control:
    load:
        outlier-data-thresholds:
            relative-to-mean-min: 0.25
            relative-to-mean-max: 2
        max-interpolate-timesteps: 3
        acceptable-year-diff-for-gap-filling: 5
        fill-29th-feb-from-28th: true
        data-source-priority-order:
            - actual_entsoe_transparency
            - actual_entsoe_power_statistics
    hydro:
        scale-phs-according-to-geth-et-al: false
        station-nearest-basin-max-km: 1
    capacity-factor-gridcell-overlap-threshold: 0.97 # Ceuta y Melilla has smallest overlap

sea-connections:
    continental: []
    national: # Source: https://www.entsoe.eu/data/map/
        - [ITA, GRC]
        - [EST, FIN]
        - [SWE, LTU]
        - [SWE, POL]
        - [DNK, SWE]
        - [DNK, NLD] # Cobra link
        - [SWE, DEU]
        - [NOR, DNK]
        - [NOR, DEU]
        - [NOR, NLD]
        - [NOR, GBR]
        - [FIN, SWE]
        - [GBR, FRA]
        - [GBR, BEL]
        - [GBR, NLD]
        - [GBR, IRL]
        # not on ENTSO-E map
        - [GRC, CYP]
        - [DNK, GBR] # Viking link
    regional: # Source: https://www.entsoe.eu/data/map/
        - [ESP.7_1, ESP.1_1] # Ceuta and Andalucia
        - [ESP.13_1, ESP.10_1] # Islas Baleares and Comunidad Valenciana
        - [FRA.5_1, ITA.16_1] # Corse and Toscana
        - [FRA.5_1, ITA.14_1] # Corse and Sardegna
        - [ITA.14_1, ITA.8_1] # Sardegna and Lazio
        - [ITA.4_1, ITA.15_1] # Calabria and Sicily
        - [ITA.2_1, GRC.5_1] # Apulia and Epirus and Western Macedonia
        - [GRC.7_1, GRC.4_1] # Peloponnese, Western Greece and the Ionian Islands and Crete
        - [GRC.3_1, GRC.1_1] # Attica and Aegean
        - [EST.1_1, FIN.4_1] # Harju and Southern Finland
        - [SWE.8_1, LTU.3_1] # Kalmar and Klaipedos
        - [SWE.8_1, SWE.4_1] # Kalmar and Gotland
        - [SWE.1_1, POL.11_1] # Blekinge and Pomorskie
        - [DNK.1_1, SWE.13_1] # Hovedstaden and Skåne
        - [SWE.13_1, DEU.15_1] # Skåne and Schleswig-Holstein
        - [DNK.4_1, DEU.8_1] # Sjælland and Mecklenburg-Vorpommern
        - [DNK.4_1, DNK.5_1] # Sjælland and Syddanmark
        - [DNK.3_1, SWE.21_1] # Nordjylland and Västra Götaland
        - [DNK.5_1, NLD.5_1] # Syddanmark and Groningen (Cobra Link)
        - [NOR.18_1, DNK.3_1] # Vest-Agder and Nordjylland
        - [NOR.18_1, DEU.15_1] # Vest-Agder and Schleswig-Holstein
        - [NOR.18_1, NLD.5_1] # Vest-Agder and Groningen
        - [NOR.13_1, GBR.1_1] # Rogaland and England
        - [FIN.5_1, SWE.16_1] # Western Finland and Uppsala
        - [GBR.1_1, FRA.7_1] # England and Hauts-de-France
        - [GBR.1_1, BEL.2_1] # England and Vlaanderen
        - [GBR.1_1, NLD.14_1] # England and Zuid-Holland
        - [GBR.4_1, IRL.17_1] # Wales and Meath
        - [GBR.3_1, GBR.2_1] # Scotland and Northern Ireland
        # not on ENTSO-E map
        - [DNK.5_1, GBR.1_1] # Syddanmark and England (Viking link)
        - [GRC.1_1, CYP.5_1] # Aegean and Paphos
        - [CYP.1_1, CYP.2_1] # Famagusta and Larnaca
        - [EST.7_1, EST.2_1] # Lääne and Hiiu
        - [EST.7_1, EST.12_1] # Lääne and Saare
scope:
    spatial:
        countries:
            - "Austria"
            - "Belgium"
            - "Bulgaria"
            - "Croatia"
            - "Cyprus"
            - "Czech Republic"
            - "Denmark"
            - "Estonia"
            - "Finland"
            - "France"
            - "Germany"
            - "Greece"
            - "Hungary"
            - "Ireland"
            - "Italy"
            - "Latvia"
            - "Lithuania"
            - "Luxembourg"
            - "Netherlands"
            - "Poland"
            - "Portugal"
            - "Romania"
            - "Slovakia"
            - "Slovenia"
            - "Spain"
            - "Sweden"
            - "United Kingdom"
            - "Albania"
            - "Bosnia and Herzegovina"
            - "Macedonia, Republic of"
            - "Montenegro"
            - "Norway"
            - "Serbia"
            - "Switzerland"
        bounds:
            x_min: -15.8
            x_max: 37
            y_min: 30
            y_max: 75
    temporal:
        first-year: 2016
        final-year: 2016
shapes: # This config must be consistent with data from https://doi.org/10.5281/zenodo.3244985.
    continental:
        Austria: nuts0
        Belgium: nuts0
        Bulgaria: nuts0
        Croatia: nuts0
        Cyprus: nuts0
        Czech Republic: nuts0
        Denmark: nuts0
        Estonia: nuts0
        Finland: nuts0
        France: nuts0
        Germany: nuts0
        Greece: nuts0
        Hungary: nuts0
        Ireland: nuts0
        Italy: nuts0
        Latvia: nuts0
        Lithuania: nuts0
        Luxembourg: nuts0
        Netherlands: nuts0
        Poland: nuts0
        Portugal: nuts0
        Romania: nuts0
        Slovakia: nuts0
        Slovenia: nuts0
        Spain: nuts0
        Sweden: nuts0
        United Kingdom: nuts0
        Albania: gadm0
        Bosnia and Herzegovina: gadm0
        Macedonia, Republic of: gadm0
        Montenegro: gadm0
        Norway: nuts0
        Serbia: gadm0
        Switzerland: nuts0
    national:
        Austria: nuts0
        Belgium: nuts0
        Bulgaria: nuts0
        Croatia: nuts0
        Cyprus: nuts0
        Czech Republic: nuts0
        Denmark: nuts0
        Estonia: nuts0
        Finland: nuts0
        France: nuts0
        Germany: nuts0
        Greece: nuts0
        Hungary: nuts0
        Ireland: nuts0
        Italy: nuts0
        Latvia: nuts0
        Lithuania: nuts0
        Luxembourg: nuts0
        Netherlands: nuts0
        Poland: nuts0
        Portugal: nuts0
        Romania: nuts0
        Slovakia: nuts0
        Slovenia: nuts0
        Spain: nuts0
        Sweden: nuts0
        United Kingdom: nuts0
        Albania: gadm0
        Bosnia and Herzegovina: gadm0
        Macedonia, Republic of: gadm0
        Montenegro: gadm0
        Norway: nuts0
        Serbia: gadm0
        Switzerland: nuts0
    regional:
        # The link between NUTS and administrative units unfortunately is not obvious.
        # It's not documented anywhere -- at least I could not find any information.
        # Hence, I am using GADM here instead.
        # Validation source: https://en.wikipedia.org/wiki/List_of_administrative_divisions_by_country
        Austria: gadm1 # gadm1 and wiki match 9
        Belgium: gadm1 # match 3
        Bulgaria: gadm1 # match 28
        Croatia: gadm1 # match 21
        Cyprus: gadm1 # gadm1: 5 regions; wiki: 6 regions
        Czech Republic: gadm1 # match 14
        Denmark: gadm1 # match 5
        Estonia: gadm1 # gadm1 16 regions; wiki 15 regions
        Finland: gadm1 # gadm1 5 regions; wiki 19 regions
        France: gadm1 # match 13
        Germany: gadm1 # match 16
        Greece: gadm1 # gadm1 8 regions; wiki 13 (14) regions
        Hungary: gadm1 # match 20
        Ireland: gadm1 # match 26
        Italy: gadm1 # match 20
        Latvia: gadm1 # gadm1 5 regions; wiki 119 regions
        Lithuania: gadm1 # match 10
        Luxembourg: gadm2 # match 12
        Netherlands: gadm1 # gadm1 14 regions; wiki 12 regions
        Poland: gadm1 # match 16
        Portugal: gadm1 # match 18
        Romania: gadm1 # match 42
        Slovakia: gadm1 # match 8
        Slovenia: gadm1 # match 12
        Spain: gadm1 # match 17
        Sweden: gadm1 # match 21
        United Kingdom: gadm1 # match 4
        Albania: gadm1 # match 12
        Bosnia and Herzegovina: gadm1 # match 3
        Macedonia, Republic of: nuts3 # match 8 (statistical, non-administrative)
        Montenegro: gadm1 # match 21
        Norway: gadm1 # match 19
        Serbia: gadm1 # gadm1 25 regions; wiki 5 regions
        Switzerland: gadm1 # match 26
