import:
  {% for file in input_files %}
  - {{ file }}
  {% endfor %}
config:
  init:
    name: 'Example model'
    calliope_version: "0.7"
    time_subset: ['{{ year }}-01-01', '{{ year }}-01-01']
    add_math:
      {% for file in math_files %}
      - {{ file }}
      {% endfor %}
  build:
    mode: plan
  solve:
    solver: gurobi
    solver_io: python
