techs:
    demand_heat_electrified:
        essentials:
            name: Electrified heat demand
            parent: demand
            carrier: electricity
        constraints:
            resource: file=demand/electrified-heat.csv

locations:
    {% for id, location in locations.iterrows() %}
    {{ id }}.techs.demand_heat_electrified:
    {% endfor %}
