techs:
  demand_elec:
    name: 'Electricity demand'
    base_tech: demand
    carrier_in: electricity

data_sources:
  demand_electricity:
    source: timeseries/demand/electricity.csv
    rows: timesteps
    columns: nodes
    add_dims:
      techs: demand_elec
      parameters: sink_use_equals

nodes:
  {% for id, location in locations.iterrows() %}
  {{ id }}.techs.demand_elec:
  {% endfor %}
