techs:
  demand_heat:
    name: Heat demand
    base_tech: demand
    carrier_in: heat

data_sources:
  demand_heat:
    source: timeseries/demand/heat.csv
    rows: timesteps
    columns: nodes
    add_dimensions:
      techs: demand_heat
      parameters: sink_use_equals

nodes:
  {% for id, location in locations.iterrows() %}
  {{ id }}.techs.demand_heat:
  {% endfor %}
