techs:
    electricity_from_biofuel:  # from [@JRC:2014] Table 48 Anaerobic digestion
        essentials:
            name: Electricity from anaerobically digested biofuel
            parent: conversion
            carrier_in: biofuel
            carrier_out: electricity
        constraints:
            energy_eff: {{ biofuel_efficiency }}
            lifetime: 20
        costs.monetary:
            energy_cap: {{2300000 * scaling_factors.specific_costs}} # {{ (1 / scaling_factors.specific_costs) | unit("EUR2013/MW") }}
            om_annual: {{2300000 * 0.041 * scaling_factors.specific_costs}} # {{ (1 / scaling_factors.specific_costs) | unit("EUR2013/MW") }} 4.1% of CAPEX
            om_prod: {{ 3.1 * scaling_factors.specific_costs }} # {{ (1 / scaling_factors.specific_costs) | unit("EUR2013/MWh") }}

locations:
    {% for id, location in locations.iterrows() %}
    {{ id }}.techs.electricity_from_biofuel:
    {% endfor %}
