
techs:
    syn_diesel_converter:
        essentials:
            name: Dummy tech to allow synthetic diesel to meet demand
            carrier_in: syn_diesel
            carrier_out: diesel
            parent: conversion
    syn_methane_converter:
        essentials:
            name: Dummy tech to allow synthetic methane to meet demand
            carrier_in: syn_methane
            carrier_out: methane
            parent: conversion
    syn_kerosene_converter:
        essentials:
            name: Dummy tech to allow synthetic kerosene to meet demand
            carrier_in: syn_kerosene
            carrier_out: kerosene
            parent: conversion
    syn_methanol_converter:
        essentials:
            name: Dummy tech to allow synthetic methanol to meet demand
            carrier_in: syn_methanol
            carrier_out: methanol
            parent: conversion

locations:
    {% for id, location in locations.iterrows() %}
    {{ id }}.techs:
        syn_diesel_converter:
        syn_methane_converter:
        syn_kerosene_converter:
        syn_methanol_converter:
    {% endfor %}
