{# TODO: weight single-/multi-family technology costs based on regional dwelling ratio - see https://github.com/calliope-project/euro-calliope/issues/406 #}
{# Costs being averaged are given in the order they appear in the spreadsheet (which is the same order as in the inline comments). #}
{# Costs are given by DEA per technology "unit" (1000EUR/unit), so are converted to a cost per capacity (1000EUR/kW_heating) by dividing by the capacity of one unit, as given in the same data table. #}
techs:
  methane_boiler:  # [@DEA:2017] - 202 Natural gas boiler - 2050
    name: Natural gas / methane boiler
    inherit: interest_rate
    base_tech: conversion
    carrier_in: methane
    carrier_out: heat
    flow_out_eff: 0.99
    lifetime: 20
    # Costs are an average of data for existing single-family, new single-family, existing multi-family, and new multi-family homes.
    cost_flow_cap:
      data: {{ mean([2.7 / 10, 2.7 / 10, 21.1 / 400, 15.1 / 160]) * 1e6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_heat") }}
      index: [[monetary, heat]]
      dims: [costs, carriers]
    cost_om_annual:
      data: {{ mean([0.168 / 10, 0.168 / 10, 0.561/ 400, 0.374 / 160]) * 1e6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_heat/year") }}
      index: [[monetary, heat]]
      dims: [costs, carriers]

nodes:
  {% for id, location in locations.iterrows() %}
  {{ id }}.techs.methane_boiler:
  {% endfor %}
