{# Costs are given by DEA per technology "unit" (1000EUR/unit), so are converted to a cost per capacity (1000EUR/kW_H2) by dividing by the capacity of one unit, as given in the same data table. #}
techs:
  # ASSUME: Electrolyser can run intermittently
  # Technology constraints and costs are averages over different electrolyser types: SOEC, PEM, and Alkaline
  electrolysis:  # [@DEA:2020b] - 86-88 Electrolysers - 2050
    name: Hydrogen by electrolysis
    inherit: interest_rate
    base_tech: conversion
    carrier_in: electricity
    carrier_out: hydrogen
    flow_out_eff: {{ mean([0.79, 0.67, 0.692])}}
    lifetime: {{ mean([30, 15, 25])}}
    cost_flow_cap:
      data: {{ mean([0.4 / 0.79, 0.4 / 0.67, 0.5 / 0.692]) * 1e6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_H2") }} |
      index: [[monetary, hydrogen]]
      dims: [costs, carriers]
    cost_om_annual:
      data: {{ mean([12 / 0.79, 20 / 0.67, 25 / 0.692]) * 1e3 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_H2/year") }}
      index: [[monetary, hydrogen]]
      dims: [costs, carriers]

nodes:
  {% for id, location in locations.iterrows() %}
  {{ id }}.techs.electrolysis:
  {% endfor %}
