techs:
    # ASSUME: ignore waste low grade heat output (which could be used for district heating)
    hydrogen_to_liquids:  # [@DEA:2020b] - renewable fuels - 102 Hydrogen to Jet - 2050
        essentials:
            name: Hydrogen to liquid fuels converter
            parent: conversion_plus
            carrier_in: hydrogen
            primary_carrier_in: hydrogen
            carrier_in_2: electricity
            carrier_in_3: co2
            carrier_out: syn_kerosene
            carrier_out_2: syn_diesel
            primary_carrier_out: syn_kerosene
        constraints:
            carrier_ratios:
                carrier_in.hydrogen: 0.995  # MWh_H2/MWh_in
                carrier_in_2.electricity: 0.005  # MWhe/MWh_in
                carrier_in_3.co2: {{ 3.3 * 0.75 / 11.9 * scaling_factors.co2 / scaling_factors.power}}  # {{ (1 / (scaling_factors.co2 / scaling_factors.power)) | unit("tCO2/(MWhe + MWhH2)") }} | Calculated from source using `tCO2/t_fuels * MWh_fuels/MWh_in / MWh_fuels/t_fuels`
                carrier_out.syn_kerosene: {{ 0.75 * 0.6 }}  # MWh_kerosene/MWh_in @ 60% liquids content
                carrier_out_2.syn_diesel: {{ 0.75 * 0.4 }}  # MWh_diesel/MWh_in @ 40% liquids content (combining diesel oil and light oil production)
            lifetime: 25
        costs:
            monetary:
                {# TODO: sense check energy_cap vs om_annual costs #}
                energy_cap: {{ 0.9e6 / 0.6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_kerosene") }} | Calculated from source using `MEur/MW_liquids / MW_kerosene/MW_liquids`
                om_annual: {{ 7.4 * 8000 / 0.6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_kerosene/year") }} | Calculated from source using `Eur/MWh_liquids * 8000h_operation/year / MW_kerosene/MW_liquids`
                om_prod: {{ 2.1 / 0.6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MWh_kerosene") }} | Calculated from source using `Eur/MWh_liquids / MWh_kerosene/MWh_liquids`

    hydrogen_to_methanol:  # [@DEA:2020b] - renewable fuels - 98 Methanol from power - 2050
        # TODO: should not be allowed to run intermittently
        essentials:
            name: Hydrogen to Methanol converter
            parent: conversion_plus
            carrier_in: hydrogen
            primary_carrier_in: hydrogen
            carrier_in_2: co2
            carrier_out: syn_methanol
            #carrier_out_2: district_heat  # ignoring for now
        constraints:
            energy_eff: {{ 1 / (0.192 * 33.3 / 5.583) }} # MWhMethanol/MWhH2 | Calculated from source using `1 / (tH2/tMethanol * MWhH2/tH2 / MWhMethanol/tMethanol)`
            carrier_ratios:
                carrier_in_2.co2: {{ 1.37 / 0.192 / 33.3 * scaling_factors.co2 / scaling_factors.power }}  # {{ (1 / (scaling_factors.co2 / scaling_factors.power)) | unit("tCO2/MWH2") }} | Calculated from source using `tCO2/tMethanol / tH2/tMethanol / MWhH2/tH2`
            lifetime: 20
        costs:
            monetary:
                energy_cap: {{ 1.5e6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_methanol") }}
                om_annual: {{ 0.053e6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_methanol/year") }}
                om_prod: {{ 6.27 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MWh_methanol") }}

    hydrogen_to_methane:  # [@Boehm:2020] - 2050
        essentials:
            name: Hydrogen to Methane converter
            parent: conversion_plus
            carrier_in: hydrogen
            primary_carrier_in: hydrogen
            carrier_in_2: co2
            carrier_out: syn_methane
        constraints:
            energy_eff: 0.826  # MW_methane/MW_H2
            carrier_ratios:
                carrier_in_2.co2: {{ 0.196 / 1.21 * scaling_factors.co2 / scaling_factors.power }}  # {{ (1 / (scaling_factors.co2 / scaling_factors.power)) | unit("tCO2/MW_in") }} | calculated from source using `tCO2/MW_methane / MW_H2/MW_methane`
            lifetime: 20
        costs:
            monetary:
                interest_rate: 0.04
                energy_cap: {{ 0.3e6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_methane") }} |average of catalytic and biological processes
                om_annual: {{ 0.0344e6 * scaling_factors.specific_costs }}  # {{ (1 / scaling_factors.specific_costs) | unit("EUR2015/MW_methane/year") }}
                om_annual_investment_fraction: 0.05  # 5% of annual CAPEX

    dac:  # [@Fasihi:2019] - Low T - 2050
        essentials:
            name: Direct air CO2 capture
            parent: conversion
            carrier_in: electricity
            carrier_out: co2
        constraints:
            energy_eff: {{ 5 * scaling_factors.co2 / scaling_factors.power }} # {{ (1 / (scaling_factors.co2 / scaling_factors.power)) | unit("tCO2/MWh") }}
            lifetime: 30
        costs:
            monetary:
                interest_rate: 0.07
                energy_cap: {{ 1.592e6 * scaling_factors.monetary / scaling_factors.co2 }}  # {{ (1 / (scaling_factors.monetary / scaling_factors.co2)) | unit("EUR2015/tCO2") }}, 199 Eur/tCO2/y -> 199 Eur/0.125kgCO2/h (8000 operational hours) -> 1592Eur/kgCO2 -> 1.592x10^6 Eur/tCO2
                om_annual_investment_fraction: 0.04  # 3.7% of annual CAPEX

locations:
    {% for id, location in locations.iterrows() %}
    {{ id }}.techs:
        hydrogen_to_liquids:
        hydrogen_to_methanol:
        hydrogen_to_methane:
        dac:
    {% endfor %}
